@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">);

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    filter: brightness(0.9);
    -webkit-filter: brightness(0.8);
} */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assests/island-7860885.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.formbox{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 18px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

h2{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;

}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.foget label input{
    margin-right: 10px;
}

.forget label a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
   width: 100%;
   height: 40px;
   border-radius: 40px;
   background: #fff;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 600;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
}
button:hover{
    transform: scale(.9);
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    /* Styles for screens less than or equal to 600px wide */
    section {
        background-size: cover;
    }
    .formbox {
        width: 350px;
        height: 400px;
    }
    .inputbox,
    button {
        width: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
}
